<%- include('../header') -%>

<!-- Custom -->
<link rel="stylesheet" type="text/css" href="/styles/todolist.css" />

<%- include('../navigation') -%>

<div id="todolist">
	<div class="container list py-md-5 py-sm-3 py-2">
		<div class="row">
			<div class="col-md-8 col-lg-6 mx-auto ">
				
				<div class="box" id="heading">
					<h1>
						<%= listTitle %>
					</h1>
				</div>
				
				<div class="box">
					<% for (const listItem of listItems) { %>
						<form class="item" action="/todolist/deleteItem" method="post">
							<input type="checkbox" name="deleteItem" value="<%= listItem._id %>" onClick="this.form.submit()">
							<input type="hidden" name="listName" value="<%= listName %>" />
							<p>
								<%= listItem.name %>
							</p>
						</form>
					<% } %>
				
					<form class="item" action="/todolist/addItem" method="post">
						<input type="text" name="newItem" placeholder="New Item" autocomplete="off">
						<button type="submit" name="listName" value="<%= listName %>">+</button>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>

<%- include("../footer") -%>
