<%- include('header') -%>
<%- include('navigation') -%>

<div class="container">
	
	<div class="row my-3">
		<h1>Home</h1>
		<p>Simple Node.js app examples</p>
	</div>

	<div class="row mb-2">
		<% appList.forEach( app => { %>
			<div class="col-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<%= app.name %>
						</h5>
						<p><%= app.description %></p>
						<a href="<%= app.uri %>" class="btn btn-secondary">Open</a>
					</div>
				</div>
			</div>
		<% }) %>
	</div>

</div>

<%- include('footer') -%>