<%- include('../header') -%>

<!-- Custom Blog CSS -->
<link rel="stylesheet" href="/styles/blog.css" type="text/css">

<%- include('../navigation') -%>

<div id="BlogApp">

	<%- include('./partials/header') -%>

	<div class="row my-md-5 my-2">
		<h1>About</h1>
	</div>

	<div class="row mb-2">
		<p>
			<%= content %>
		</p>
	</div>

	<%- include('./partials/footer') -%>

</div>

<%- include('../footer') -%>