<%- include('../header') -%>

<!-- Custom Blog CSS -->
<link rel="stylesheet" href="/styles/blog.css" type="text/css">

<%- include('../navigation') -%>

<div id="BlogApp">
	
	<%- include('./partials/header') -%>

	<div class="row my-2">
		<h1>Compose</h1>
	</div>

	<div class="row mb-2">
		<form action="/<%= path %>" method="post">
			
			<div class="">
				<div class="form-group mb-3">
					<label class="form-label" for="postTitle">Title</label>
					<input class="form-control form-control-lg" name="postTitle" id="postTitle" type="text" />
				</div>
				<div class="form-group mb-3">
					<label class="form-label" for="postBody">Post</label>
					<textarea class="form-control" name="postBody" id="postBody" rows="15"></textarea>
				</div>
				<div class="form-group mb-3">
					<button type="submit" class="btn btn-primary">Publish</button>
				</div>
			</div>

		</form>
	</div>

	<%- include('./partials/footer') -%>
	
</div>

<%- include('../footer') -%>